* {margin: 0; padding: 0; border: 0;}
body {
	background-color: rgb(234, 233, 228);
	width: 100vw;
	height: 100vh;
	position: relative;
	.navbar.navbar-1 .navbar-toggler-icon {
		background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000");
		position: fixed;
		top: 20px;
		right: 20px;
		height: 60px;
		width: 60px;
		z-index: 1;
	}
	.main {
		width: 75vw;
		height: 100vh;
		position: absolute;
		top: 57%;
		left: 48%;
		transform: translate(-50%, -50%);
		.emerge {
			margin-bottom: 70px;
			h5 {
				@media screen and (max-width: 540px) {
					width: 55vw;
				}
			}
			#barab {
				margin-bottom: 7px;
				@media screen and (max-width: 540px) {
					font-size: 12px;
					margin-bottom: 20px;
				}
			}
		 	button {
				background-color: black;
				border-radius: 50px;
				color: white;
				width: 100px;
				height: 28px;
				font-size: 13px;
			}
		}
		.statistical {
			button {
				background-color: black;
				border-radius: 50px;
				color: white;
				width: 100px;
				height: 28px;
				font-size: 13px;
			}
			#barab {
				margin-bottom: 7px;
				@media screen and (max-width: 540px) {
					font-size: 12px;
					margin-bottom: 20px;
				}
			}
		}

	}
}